/*selectores*/

body{
  background-color: black;
  color: black;
}

p {
  font-size: 20px;
  font-family: 'Oswald', cursive;
}

h1 {
  font-family: 'Oswald', cursive;
  text-align: center;
}

h2 {
  font-family: 'Special Elite', cursive;
  color: rgb(163, 0, 0);
}

h3 {
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 25px;
}

.contenedor{
  width: 95%;
  margin: 0 auto 0 auto;
  background-color: white;
  border-radius:15px;
}

.cabeza {
  color: rgb(163, 0, 0);
  padding: 20px;
}

.cabeza img {
  display: block;
  margin: auto;
  width: 350px;
}

.cuerpo {
  width: 85%;
  padding: 50px;
  display: block;
  align-items: center;
}

.cuerpo img {
  transform:matrix(0.94,-0.34,0.34,0.94,0,0);
}

.cajas {
  width: 70%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color:rgb(163, 0, 0);
  border-radius: 30px;
  box-shadow:8px 13px 15px 3px #000000 ;
}

@media screen and (max-width: 700px) {

  .contenedor {
    width: 100%;
  }

}

@media screen and (max-width: 600px) {

  .cabeza img {
    width: 250px;
  }

  .cuerpo {
    padding: 30px;
  }

  .videos {
    width: 90%;
    height: 20%;
  }
}
/*CREDITOS
Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
*/
